#block{
    width: 100%;
    height: 236px;
}

.one{
    background-color: green;
}

.two{
    background-color: magenta;
}

.three{
    background-color: cadetblue;
}

.four{
    background-color: orange;
}
