<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Recommend</title>

		<link rel="stylesheet" href="../styles/goldrec.css" />
	</head>
	<body>
		<header>
			<h1>Gold Recommendation</h1>
			<span>GOLD BAR (GB) 999.9</span>

			<div class="info">SUGGESTED GOLD BAR TO PURCHASE</div>
		</header>

		<section class="content">
			<form id="form" class="wrapper" >
				<table class="table-2">
					<thead>
						<tr>
                            <th></th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
                        <tr>
                            <td>Amount of Capital</td>
                            <td>
                                <input class="input-1" type="number"  name="cap" placeholder="Amount in RM" disabled red>
                            </td>
                        </tr>
                    </tbody>
				</table>
                
                <table class="table-1">
					<thead>
						<tr>
							<th>GOLD BAR (GB) WEIGHT (gram)</th>
							<th>QUANTITY</th>
						</tr>
					</thead>
					<tbody>
                        <tr>
                            <td>GB 999.9 (1gm)</td>
                            <td>
                                <input class="input-1" type="number"  name="gb1" disabled readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>GB 999.9 (5gm)</td>
                            <td>
                                <input class="input-1" type="number"  name="gb5" disabled readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>GB 999.9 (10gm)</td>
                            <td>
                                <input class="input-1" type="number"  name="gb10" disabled readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>GB 999.9 (20gm)</td>
                            <td>
                                <input class="input-1" type="number"  name="gb20" disabled readonly>
                            </td>
                        </tr>
                    </tbody>
				</table>

				<table class="table-2">
					<thead>
						<tr>
                            <th></th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
                        <tr>
                            <td>Balance</td>
                            <td>
                                <input class="input-1" type="number"  name="bal" placeholder="Balance in RM" disabled readonly>
                            </td>
                        </tr>
                    </tbody>
				</table>
			</form>
		</section>

		<footer>
            <ul>
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Site map</a>
                </li>
                <li>
                    <a href="#">Link</a>
                </li>
            </ul>
            <p>Copyright 2022; All rights reserved</p>
        </footer>

        <script src="../functions/goldrec.js"></script>
	</body>
</html>
